.cover {
  max-width: 1184px;
  margin: 0 auto;
  padding: 92px 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    margin: 0;
  }
}

@media screen and (max-width: 950px) {
  .cover {
    max-width: 100%;
    padding: 90px 0 88px;
  }
}

@media screen and (max-width: 400px) {
  .cover {
    padding: 66px 0 64px;
    margin: 0 auto;
  }
}