.place {
  display: grid;
  grid-template-columns: minmax(auto, 460px) minmax(auto, 484px);
  grid-template-rows: repeat(2, minmax(48px, auto));
  padding-bottom: 80px;
  margin: 0;
  column-gap: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(auto, 440px) minmax(auto, 456px);
    grid-template-rows: repeat(2, minmax(48px, auto));
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(auto, 340px);
    grid-template-rows: repeat(auto-fit, minmax(46px, auto));
    column-gap: 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: minmax(auto, 320px);
    grid-template-rows: repeat (4, minmax(45px, auto));
    column-gap: 32px;
    padding-bottom: 50px;
  }
}